<!DOCTYPE html>
<html>

<head>

    <title>Defence Image Analytics System</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='styles.css') }}">

</head>

<body>

<nav>

    <h1>
        Defence Image Analytics System
    </h1>

    <p>
        AI-Powered RGB Image Intelligence Platform
    </p>

</nav>

<div class="hero">

    <div class="card upload-card">

        <h2>
            Upload Surveillance Image
        </h2>

        <p>
            Analyze RGB statistics for
            defence image intelligence.
        </p>

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        <form action="/process_image"
              method="POST"
              enctype="multipart/form-data">

            <input type="file"
                   name="image"
                   accept=".jpg,.jpeg,.png"
                   required>

            <button type="submit">

                Analyze Image

            </button>

        </form>

    </div>

</div>

</body>

</html>